form.signupForm(onsubmit='add()', action='/signup', method='post')
  input(type='email', name='signupEmail', placeholder='Email', required='')
  br
  input(type='password', id="pass1", name='signupPassword', placeholder='Password', required='', onkeyup='check()')
  input(type='password', id="pass2", name='signupPasswordCheck', placeholder='Verify Password', required='', onkeyup='check()')
  br
  span#message
  input(type='submit')
