<% include layout/header %>
<form class="signupForm" action="/signup" method="post">
  <input type="email" name="signupEmail" placeholder="Email" required><br>
  <input type="password" name="signupPassword" placeholder="Password" required>
  <input type="password" name="signupPasswordCheck" placeholder="Verify Password" required><br>
  <input type="submit">
</form>
<% include layout/footer %>
