<form class="signupForm" action="index.html" method="post">
  <input type="email" name="signupEmail" placeholder="Email" required><br>
  <input type="password" name="signupPassword" placeholder="Password" required>
  <input type="password" name="signupPasswordCheck" placeholder="Verify Password" required><br>
  <input type="submit" name="signupFormSubmit">
</form>

<!-- So we're gonna want to setup a query. Which is going to require a table. Which is going to make necessary that we have the database completely setup. -->
